nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 5px;
    padding-right: 5px;
}
nav li:hover{
    background-color: brown;
}
nav a{
    text-decoration: none;
    color: black;
}